.secondModalOverlay {
    background-color: rgba(73,80,87,.419608);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.secondModal .container {
    padding: 0 25px;
}
.secondModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	background: #fff;
	padding-bottom: 35px;
}
.VZ_BasicModal.adminModal{
    position: absolute;
	top: 0px;
	padding-top: 80px;
    right: 0;
    bottom: 0;
	left: 0;
	z-index: 0;
    // z-index: 1040;
	// background-color: #ccc;
	// background-color: hsla(0,0%,7%,.839216);
	background-color: rgba(73,80,87,.419608);
    font-family: 'Avenir', sans-serif;
	
	.modal-content {		
		position: absolute;
		left: 15%;
		border: none;
		right: 15%;
		// margin: 0 auto;
		// width:970px;
		border-radius: 0;
		padding: 10px;		
		z-index: 101;
		// -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		// -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		// -box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
	.hrline{
		border-bottom: 2px solid #d1d2d4;
		margin: 15px 0;
	}
	.btn{
		background: #5a5c5b;
		color:#FFF!important;
		padding: 4px;
		text-align: center;
		width: 100%;
		cursor: pointer;
		display: inline-block;
		border-radius:0;
		text-transform: uppercase;
		margin-bottom:10px;
		font-weight: 600;
		font-size: 15px;
	}
	.editcolor{
		color: #2eaae1!important;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		font-family: Avenir-Black;
	}
}

