
.submitBtn{
    padding: 5px 15px;
    text-align: center;
    letter-spacing: 0.5px;
    width: 60%;
    min-width: 300px;
    height: 40px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #DADADA;
    font-size: 10pt;
    margin: 0 auto;
}
.DisableBtn{
    background: #c2c3c2;
}
.EnableBtn{
    background: #212121;
}

.closeBtn {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3%;
    padding-bottom: 0;
    .closeImg {
      width: 15pt;
      height: 15pt;
    }
}