@import "_custom";
@import "_colors";
@import "_my_theme";
@import "_media_queries";
@import "_browsers";
@import "_button";
@import "_labels";
@import "_inputs";
@import "_modals";
@import "_content";

.darkBackground{
	background: #5b5b5f;
}
.hide{
	display: none;
}
.autocompleteContainer {
    max-height: 200px;
    overflow-y: scroll;
}

.autocompleteContainer li{
	color: black;
}

.autocompleteContainer li:hover{
	color: white;
	background: black;
}
.hideAutocomplete{
	display: none;
}

.showAutocomplete{
	display: block;
}

.companyAutocompleteContainer ul li {
	padding: 8px;
}
.btnPointer{
	cursor: pointer;
}