@import "_media_queries";
.MainContent {
    @include respond(small) {
        width: 100%!important;
        margin: auto;
    }
    
    @include respond(smallPortrait) {
        width: 100%!important;
        margin: auto;
    }
    
    @include respond(smallLandscape) {
        width: 100%!important;
        margin: auto;
    }
    
    @include respond(medium) {
        width: 100%!important;
        margin: auto;
    }
}

.col-lg-6{
    @include respond(small) {
        width: 50%;
        float: left;
    }
    
    @include respond(smallPortrait) {
        width: 50%;
        float: left;
    }
    
    @include respond(smallLandscape) {
        width: 50%;
        float: left;
    }
    
    @include respond(medium) {
        width: 50%;
        float: left;
    }
}
.autocompleteContainer img {
    height: 16px;
}

.autocompleteContainer {
    position: absolute;
    z-index: 100;
    width: 95%;
    padding: 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
}
.autocompleteContainer ul {
    list-style: none;
    padding: 0;
}