@import "_media_queries";
@import "_colors";

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
button:focus{
    outline: none;
    border:none;
}
.commonBtn{
    background: #2eaae1;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    font-size: 16px;
    font-family: 'Avenir-Light', sans-serif, Arial;
}
.cancelBtn{
    background: #cccccc;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    font-size: 16px;
    font-family: 'Avenir-Light', sans-serif, Arial;
}
.reqField{
    font-style: italic;
    font-size: 14px;
    color:#000;
    padding-bottom: 10px;
    margin-right: 5px;
    sup{
        color:#205081;
    }
}
.form-check-label{
    font-size: 12px;
    width: 100%;
    display: inline-block;
}
.noErrorField{
    color:#555;
    font-size: 18px;
    display: block;
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #f5f5f5;
}
.passwordShow{
    float: right;
    position: relative;
    z-index:2;
    margin-right: 31px;
    font-size: 11px;
    margin-top:-50px;
}
.fa-eye.unselected{
    color: #787878;
    font-size:20px;
}
.fa-eye.selected{
    color: #2eaae1;
    font-size:20px;
}
.success{
    float: right;
    position: relative;
    z-index: 2;
    font-size: 26px;
    height: 28px;
    margin-right: 24px;
    margin-top:-32px;
}
.submitBtn{
    padding: 5px 15px;
    text-align: center;
    letter-spacing: .5px;
    width: 100%;
    min-width: 300px;
    height: 40px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #dadada;
    font-size: 10pt;
    margin: 0 auto;
}
.passWordValidation{
    color: #9a0c00;
    font-size: 12px;
    margin-bottom: 7px;
}
.error{
    height: 41px;
    float: right;
    position: relative;
    z-index: 2;
    font-size: 26px;
    margin-right: 21px;
    margin-top: -41px;
}
.droupDownArrow{
    float: right;
    position: relative;
    z-index: 2;
    margin-right: 30px;
    font-size: 26px;
    margin-top: -41px;
    color: #787878;
}
.dropDownList {
    width:100%;
    position: absolute;
    height: 120px;
    overflow: auto;
    top: 100%;        
    z-index: 1000;
    float: left;
    min-width: 160px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    li{
        padding:7px;
    }
    li:hover{
        color: #ffffff;
        background-color: #000000;
    }
}
.PopupModalWrap{
    width: 70%;
    height: 80%;
    position: relative;
    @include respond(medium) {
        width:100%;
        height: auto;
    }
    .heading{
        font-size: 30px;
        text-align: center;
        font-family: Avenir-Medium;
        padding: 25px 0;
    }
    .subHeading{
        font-size: 20px;
        text-align: center;
        font-family: Avenir-Medium;
        padding-bottom:20px; 
    }
    p{
        font-family: 'Avenir-Light', sans-serif, Arial;
        font-size: 16px;
        margin-bottom: 20px;
    }
    label{
        font-family: 'Avenir-Light', sans-serif, Arial;
        font-size: 16px;
        text-transform: uppercase;
        padding:0;
    }
    .downArrow, .success, .error {
        float: right;
        position: relative;
        color: #000000;
        z-index: 2;
        margin-right: 30px;
        font-size: 26px;
        margin-top: -41px;
    }
    .success, .error{
        height: 31px;
        margin-right: 18px;
    }
    .error{
        height: 41px;
        margin-right: 19px;
        margin-top: -44px;
    }
    field-label {
        color: #787878;
        font-weight: 100;
        position: absolute;
        top: 8px;
        padding-left: 25px;
        left:0;
        transition: all .2s ease-in-out;
        -moz-transition: .2s ease-in-out all;
        -webkit-transition: all .2s ease-in-out;
    }
    .drpBlockInPage{
        .dropDownList{
            padding: 0;
            margin: 0;
            width: 100%;
            li{
                color: #000000;
                padding-left:25px;
            }
            li:hover{
                color: #FFF;
            }
        }
    }
}
.containBlock{
    overflow-x: auto;
    height: 80%;
}
.skip{
    font-style:italic;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Avenir-Light', sans-serif, Arial;
}
.pageNmuber{
    text-align: center;
}
.previous{
    background-color: #c2c3c2;
    color: #fff;
    width: 100%;
    font-size: 18px;
    height: 58px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.previous:hover {
    background-color: #2eaae1;
}
.next{
    color: #fff;
    width: 100%;
    font-size: 18px;
    height: 58px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:#2eaae1;
}
.DisableBtn{
    background: #c2c3c2;
}
.EnableBtn{
    background: #212121;
}
.rowNonEditable{
    .nonEditable{
		font-size:14px;
	}
	.value{
		font-size: 16px;
	}
}
.drp-down {
    field-label{
        font-size: 14px;
    }
    .dropDownList{
        font-size: 16px;
    }
}
