@font-face {
  font-family: 'Avenir-Light';
  src: url("fonts/avenir-light.eot");
  src: url("fonts/avenir-light.eot?#iefix") format("embedded-opentype"), 
  url("fonts/avenir-light.woff") format("woff"), 
  url("fonts/avenirlight.ttf") format("truetype"), 
  url("fonts/Avenir-Light.ttf") format("truetype"), 
  url("fonts/avenir-light.svg#avenir-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Light-Oblique';
  src: url("fonts/Avenir-LightOblique.tff"),
  url("fonts/Avenir-LightOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url("fonts/Avenir-Black.ttf");
  src: url("fonts/Avenir-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Black-Oblique';
  src: url("fonts/Avenir-BlackOblique.ttf");
  src: url("fonts/Avenir-BlackOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url("fonts/Avenir-Medium.ttf");
  src: url("fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: 700;
}
@font-face {
  font-family: 'Avenir-Medium-Oblique';
  src: url("fonts/Avenir-MediumOblique.ttf");
  src: url("fonts/Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 700;
  font-style: 700;
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url("fonts/Avenir-Heavy.ttf");
  src: url("fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: 900;
}
@font-face {
  font-family: 'Avenir-Heavy-Oblique';
  src: url("fonts/Avenir-HeavyOblique.ttf");
  src: url("fonts/Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: 900;
}
@font-face {
  font-family: 'Avenir-Book';
  src: url("fonts/Avenir-Book.ttf");
  src: url("fonts/Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Book-Oblique';
  src: url("fonts/Avenir-BookOblique.ttf");
  src: url("fonts/Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Oblique';
  src: url("fonts/Avenir-Oblique.ttf");
  src: url("fonts/Avenir-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url("fonts/Avenir-Roman.ttf");
  src: url("fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir-Light', sans-serif, Arial;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Avenir-Light', sans-serif, Arial;
  font-size: 87.5%;
  line-height: normal;
  color: #333;
}

button {
  font-family: 'Avenir-Light', sans-serif, Arial;
  outline: none;
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background: none;
  user-select: none;
}

label {
  font-family: 'Avenir-Light', sans-serif, Arial;
}

p {
  font-family: 'Avenir-Light', sans-serif, Arial;
}

div {
  font-family: 'Avenir-Light', sans-serif, Arial;
  user-select: none;
}

input {
  font-family: 'Avenir-Light', sans-serif, Arial;
  border: none;
  margin: 0;
  outline: none;
}

input::-ms-clear {
  display: none;
}

table {
  font-family: 'Avenir-Light', sans-serif, Arial;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  font-family: 'Avenir-Light', sans-serif, Arial;
  padding: 0;
}

.Wrap {
  font-family: 'Avenir-Light', sans-serif, Arial;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
