
.ClickLayer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.field {
    position: relative;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border: 1px solid #000;
}
/* active state */
input:focus ~ field-label {
    // top: 18%;
    font-size: 10px;
    color: #A5A4A5;
}
textarea:focus {
    outline: none;
    border: 1px solid #000;
}
/* active state */
textarea:focus ~ field-label {
    // top: 18%;
    font-size: 10px;
    color: #A5A4A5;
}

.noErrorField {
    color: #555;
    font-size: 18px;
    // padding: 24px 10px 2px 4.5%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    width: 100%;
    border: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background: #f5f5f5;
}

input.errorField:focus{
    border: 1px solid $qzt_red !important;
}

.errorField{
    border: 1px solid $qzt_red;
}


field-label {
    color: #787878;
    font-size: 13px;
    /*padding:0px 0px 0px 2%;*/
    font-weight: 100;
    position: absolute;
    pointer-events: none;
    // left: 7.5%;
    // top: 18%;
    top: 8px;
    left: 42px;
    transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
}

.sign-in {
    padding: 12px 10px 2px 0;
    display: block;
    width: 400px;
    color: hsla(0,0%,47%,.74);
    font-size: 13px;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}