
.QRZT_BasicModal {
    background-color: #5b5b5f;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 92vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    transform: translate3d(0, 0, 20px);
    font-family: 'Avenir', sans-serif;
    color: #fff;
    /* Fix for iOS & Safari */
    
    .ModalWrap {
        position: relative;
        width: 70%;
        height: 70vh;
        background: #5b5b5f;
        @include respond(medium) {
            width: 60%;
        }
        @include respond(small) {
            border-radius: 0;
            box-shadow: none;
            width: 100%;
        }
        .heading{
            font-size: 32px !important;
            font-weight: 100;
        }   
        .MainContent {
            width: 567px;
            margin: auto;
           
            p {
                font-family: 'Avenir', sans-serif;
                display: block;
                font-size: 17px;
                text-align: center;
                margin: auto;
                padding: 30px;
                padding-top: 0px;
                @include respond(small) {
                    margin-left: 0;
                }
            }
            .nonEditable{
                text-align: left;
            }
            .value{
                padding-bottom: 15px;
            }
        }
        .getStarted{
            color: #fff;
            width: 260px;
            font-size: 18px;
            height: 58px;
            border-radius: 4px;
        }

        .next{
            background-color: #0091f8;
        }
        .previous{
            background-color: #c2c3c2;
        }
        .DisableBtn{
            background-color: #c2c3c2;
        }
        .previous:hover{
            background-color: #0091f8;
        }
        .skip{
            margin-top: 20px;
            font-style: italic;
        }
        .uploadText{
            font-size: 10px;
            font-style: italic;
            margin-top: 12px;
            font-size: 12px;
        }
    }
}
